* {
    background-color: white;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}

html,
body {
    background-image: url('pessoas-fazendo-compras');
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: auto;
    position: absolute;
    text-align: center;
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
    
}

nav img {
    width: 6rem;
    padding-left: 0.5rem;
}

nav article h1 h4 {
    text-decoration: none;
    letter-spacing: 100%;
    padding-right: 50%;
    position: absolute;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 1rem;
}

nav ul li a # {
    text-decoration: none;
    color: #ffff00;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.5s;
}

nav ul li a